<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Angelique MongoDbFinder App</title>
</head>
<body>

    <h1>The data from mongo are</h1>
    <div>
        <ul id="findmb" />
    </div>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/MyJava.js"></script>
</body>
</html>
