<div>
    <div>
        <h2>All Notes</h2>
    <ul id ="notes" />
        </div>
    <div>
    <h2>Search by ID</h2>
    <input type ="text" id="NoteId" size="5" />
    <input type ="button" value="Search" onclick="find();" />
    <p id ="note" /></div>
</div>

